%div.ldp-person
  %div.image{"style" => "background-image: url('#{@person["thumb"]}')"}
  %div.text
    %div.name= @person["name"]
    %div.description= @person["description"]
%div.separator
%div.ldp-creative-works
  %ul
    - @creative_works[0..4].each do |cw|
      %li
        %a{"href" => cw.url.gsub("http://www.bbc.co.uk/news", "/news")}
          %div.cw-title= cw.title
%div.separator
%div.ldp-relations
  %p
    %b Related People
  %ul
    - @person["relations"].each do |relation|
      %li
        %div
          %span= relation["name"]
          %span.relation-type= relation["subject"]
%div.clearfix